<h1><%= @user.username %>'s Result</h1>

<% @user.games.each do |game| %>
  <h3><%= game.card_sets.count %> Sets </h3>
  <h3>in</h3>
  <h3><%= game.total_play_time %></h3>
  <div id="found_cards">
    <%= render 'found_cards' %>
  </div>
<% end %>


