<h3>Rules to play</h3>
<div>
  <p> Goal: Race against the clock to select as many valid sets as you can, as quickly as possible.</p>

  <p> Card Attributes: Color, Shape, Shading, and Shape Count.</p>

  <p>How to Make a Set:
  1) Select three cards with no matching attributes.
  2) Select three cards with as many matching attributes as you want, BUT that attribute must be present across all three selected cards.</p>

  <p>Rule #1: A set can not contain only two cards with a matching attribute. All three cards must have that attribute or only one may have it.</p>

  <p>Game Over: The game is over when there are no more cards left in the deck, and there are no more sets available on the board.</p>

  <p>Hints: If there are no more sets on the current board, but still cards in the deck, we will give you three more cards.</p>

</div>
