body {
  width: 80%;
  margin: auto;
  padding-top: 20px;
  font-family: arial;
}

.card-in-play img {
  max-width: 120px;
  width: 100%;
  overflow: hidden;
}

.card-in-play {
  display: inline-block;
  width: 20%;
  padding-bottom: 20px;
}

.board {
  width: 70%;
  float: left;
}

.sets-played {
  display: inline-block;
  width: 27%;
  height: 610px;
  background-color: gray;
  border: solid black 2px;
  padding-left: 20px;
}