body {
  width: 80%;
  margin: auto;
  padding-top: 20px;
  font-family: arial;
}

.card-in-play img {
  max-width: 120px;
  width: 100%;
  overflow: hidden;
}

.active {
  border: 3px solid brown;
  border-radius: 12px;
}

.card-in-play {
  display: inline-block;
  width: 20%;
  padding-bottom: 20px;
}

.board {
  width: 70%;
  float: left;
  background: hsl(120, 0%, 60%);
  border: 5px solid midnightblue;
  border-bottom: none;
  padding: 30px;
  padding-top: 60px;
  padding-left: 60px;
  box-sizing: border-box;
  min-height: 1200px;
}

.side-bar {
  display: inline-block;
  width: 30%;
  height: 726px;
  background-color: hsl(120, 0%, 80%);
  border-top: solid midnightblue 5px;
  border-right: solid midnightblue 5px;
  border-bottom: none;
  padding-left: 60px;
  box-sizing: border-box;
  min-height: 1200px;
}

.sets-played {
  padding-top: 20px;
  display: block;
  width: 50%;
}

.timer-box {
  display: block;
  float: left;
  margin: 60px auto;
  width: 270px;
  text-align: center;
}

#timer {
  background: midnightblue;
  color: white;
  height: 120px;
  line-height: 120px;
  font-size: 40px;
}

.btn {
  visibility: hidden;
  cursor: pointer;
  font-weight: bold;
  width: 80px;
  background: #ddd;
  height: 45px;
  line-height: 45px;
  float: left;
  user-select: none;
}

/*.controls {
  overflow: hidden;
}*/

.btn + .btn {
  margin-left: 15px;
}
